*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

.modak-regular {
    font-family: "Modak", serif;
    font-weight: 200;
    font-style: normal;
  }
  

body{
    background-image: url(./img/pexels-george-dolgikh-551816-1303081.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    height: 30vh;
}

.bolas .bola_vermelha{
    margin-left: 50px;
}

.bolas .bola_dourada{
    top: -15px;
    position: absolute;
}

.titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    width: 27vw;
}

.titulo h1{
    font-size: 82px;
    color: white;
    font-family: "Modak", serif;
    font-weight: 150;
}

main{
    height: 70vh;
    display: flex;
}

.ladoA{
    width: 45vw;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.ladoA h2{
    font-size: 48px;
    font-family: "Shrikhand", serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    text-align: center;
    padding-left: 20px;
}

.ladoA h3{
    margin-top: 50px;
    font-size: 32px;
    color: #FCF5D8;
    font-family: "Shrikhand", serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

.ladoA h4{
    position: absolute;
    margin-top: 3%;
    margin-left: 10px;
    font-size: 24px;
    color: white;
    font-family: "Shrikhand", serif;
    font-weight: 200;
    font-style: normal;
}


.ladoB{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.ladoB h1{
    text-align: center;
    font-size: 24px;
    color: white;
    width: 300px;
    margin-left: 200px;
    font-family: "Shrikhand", serif;
    font-weight: 200;
    font-style: normal;
}

.ladoB img{
    height: 190px;
    width: 190px;
    margin-left: 260px;
}